%ul.navbar-nav
  - if logged_in?
    %li.nav-item
      = link_to 'ログアウト', logout_path, class: 'nav-link', method: :delete
  - else
    %li.nav-item
      = link_to 'GitHubでログイン', '/auth/github', class: 'nav-link', method: :post
